* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
p {
    font-size:1vw;
}

.header {
    background-color: #896978;
    overflow: hidden;
    padding: 20px 10px;
    color: white;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  /* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

  topnav {
    background-color: #333;
    overflow: hidden;
  }

  topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  topnav a.active {
    background-color: #04AA6D;
    color: white;
    font-size: 17px;
  }
  

  
  /* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Style the navigation menu */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #AAC0AF;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #EFD5C3;
    padding: 10px;
  }
  
  /* Style the footer */
footer {
    background-color: #839791;
    padding: 10px;
    text-align: center;
    color: white;
}
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }