* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
p {
    font-size:1vw;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header .logo img {
  max-height: 50px;
}

topnav ul {
  list-style-type: none;
  padding: 0;
}

topnav ul li {
  display: inline;
  margin: 0 20px;
}

topnav ul li a {
  color: white;
  text-decoration: none;
}

  
  /* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Style the navigation menu */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #AAC0AF;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #EFD5C3;
    padding: 10px;
  }
  
  /* Style the footer */
footer {
    background-color: #839791;
    padding: 10px;
    text-align: center;
    color: white;

}

.site-footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}

.footer-about, .footer-links, .footer-contact {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

h3 {
  margin-top: 0;
}
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-about, .footer-links, .footer-contact {
      min-width: 100%;
      text-align: center;
    }

   
  }